In [24]:
import pandas as pd
import re
from datasets import Dataset

# Load dataset

In [2]:
data_path=r"..\DATA\naruto.csv"
naruto_transcript_df=pd.read_csv(data_path)

In [3]:
naruto_transcript_df.head()

      name                                               line
0   Naruto   (Laughing) Give it up. (Shows the stone faces...
1  Hiruzen   (Turns away from his writing) I hope you’re n...
2    Ninja                                       Naseer Sabah
3    Ninja                        is the best person on earth
4   Naruto                                               muah

In [5]:
def remove_paranthhesis(text):
    result=re.sub(r'\(.*?\)' , '', text )
    return result

In [6]:
naruto_transcript_df['line']=naruto_transcript_df['line'].apply(remove_paranthhesis)

In [8]:
naruto_transcript_df['num_of_words']=naruto_transcript_df['line'].str.strip().str.split(' ')

In [10]:
naruto_transcript_df['num_of_words']=naruto_transcript_df['num_of_words'].apply(lambda x: len(x))

In [12]:
naruto_transcript_df['naruto_transcript_flag']=0
naruto_transcript_df.loc[(naruto_transcript_df['name']=='Naruto') & (naruto_transcript_df['num_of_words']>5) ,'naruto_transcript_flag' ]=1

In [17]:
index_to_take=list(naruto_transcript_df[(naruto_transcript_df['naruto_transcript_flag']==1) & (naruto_transcript_df.index>0)].index)

In [18]:
index_to_take

[6,
 28,
 30,
 32,
 36,
 38,
 40,
 46,
 47,
 63,
 77,
 86,
 88,
 90,
 96,
 106,
 111,
 136,
 142,
 144,
 151]

In [20]:
system_promt = """" Your are Naruto from the anime "Naruto". Your responses should reflect his personality and speech patterns \n"""

prompts=[]

for i in index_to_take:

    prompt=system_promt
    prompt+=naruto_transcript_df.iloc[i-1]['line']
    prompt+='\n'
    prompt+=naruto_transcript_df.iloc[i]['line']
    prompts.append(prompt)

In [22]:
print(prompts[0])

" Your are Naruto from the anime "Naruto". Your responses should reflect his personality and speech patterns
  Oh yeah, Naruto!?
 Where’d you come from, Iruka Sensei!? What are you doing here?

In [23]:
df=pd.DataFrame({"prompt":prompts})
df.head()

                                              prompt
0  " Your are Naruto from the anime "Naruto". You...
1  " Your are Naruto from the anime "Naruto". You...
2  " Your are Naruto from the anime "Naruto". You...
3  " Your are Naruto from the anime "Naruto". You...
4  " Your are Naruto from the anime "Naruto". You...

In [25]:
dataset= Dataset.from_pandas(df)